@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-accent: #0d9488;
}

/* Custom base styles for standard elements */
@layer base {
  body {
    @apply font-sans m-0 p-0 bg-slate-50 text-slate-900;
  }
}